/*-----------------------------*/
/*---------パンくずリスト---------*/
/*-----------------------------*/
.breadcrumb {
    padding: 8px 30px;
    list-style: none;
    background-color: $cPink;

    li {
        display: inline;/*横に並ぶように*/
        list-style: none;
        font-size: 0.75rem;
        font-weight: 400;

        &::after {
            content: '>';
            padding: 0 0.2em;
            color: #fff;
        }

        &:last-child::after {
            content: "";
        }

        a {
            text-decoration: none;
            color: #fff;/*色*/
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
}