/*------------------------------
	8.4 top-main
------------------------------*/
#top-main:before{
    background-position: no-repeat center;
    background-size:auto cover;
}

/*------------------------------
	8.5 top-lead
------------------------------*/
.top-lead{
    bottom:10%;
}