/*--------------------------------------------------------------
8.0   Section(共通設定)
8.1   header
8.2   top-main
8.3   g-nav
8.3-1 pc-nav
8.4   top-main
8.5   top-lead
8.6   topics
8.7   vision
8.8   service
8.9   about
8.10  contact
8.11  footer

--------------------------------------------------------------*/

/*------------------------------
	8.0 共通設定
------------------------------*/
h2 {
    font-size: 2.5rem;
}

/*------------------------------
	8.4 top-main
------------------------------*/
.top-main:before{
    background-position: no-repeat center;
    background-size:auto cover;
}

/*------------------------------
	8.5 top-lead
------------------------------*/
.top-lead{
    bottom:10%;
}

/*------------------------------
	8.7 vision
------------------------------*/
.vision {
    margin:0 0 100px 0;

    & .img{
        width:40%;
        min-height: 590px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .content {
        width:50%; 
        text-align: right;
    }
    & .vision-lead {
        font-size: 1.3rem;
    }
}

/*------------------------------
	8.8 service 
------------------------------*/
.service {
    & >h2{
        margin:0 0 100px 0;
    }
    & .service-area{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:0 0 300px 0;

        & >.img {
            width: 50%;
        }
        & .content {
            width:40%;
            top:150px;
            
        }
    }
}

/*------------------------------
	8.9 about 
------------------------------*/
.about {
    &__list {
        display: flex;
        & >li {
            &:not(:last-child) {
                margin: 0 20px 0 0;
            }
        }
        &-area {
            height: 180px;
        }
    }
}

/*------------------------------
	8.11 footer 
------------------------------*/
.footer {
    &__logo {
        & >img {
            width: 20%;
            height: auto;
        }
    }
}